<% layout("./layouts/boilerplate")%>


<div class="all-contacts-container">

  <h1 class="is-size-3 mb-5">Contactos</h1>

  <section id="search-section">
    <div id="main-search-wrapper" class="search-wrapper is-flex is-align-items-center is-justify-content-space-between">
      <input id="search-input" class="search-input" type="text" placeholder="Buscar contactos">
      <img id="search-icon" class="search-icon mr-3" src="images/search-blue.svg" alt="Ícono de una lupa">
    </div>
    <p class="text-muted is-size-7 ml-3 search-tip hidden">Prueba buscar por nombre, compañía, rol, ubicación, canal de contacto, etc.</p>

    <div id="search-results">
      <h2 class="mt-6 hidden results-title">Coincidencias</h2>
    </div>
  </section>

  <section class="contacts-table">

    <div class="buttons-container mt-5 mb-5 is-flex">
      <a href="/contacts/new" class="mr-5"><button class="button is-info">Añadir contacto</button></a>
      <button class="button is-danger is-outlined hidden" id="delete-contacts-btn">Borrar seleccionados</button>      
    </div>

    <div>
      <button class="button is-static is-info is-outlined contactsQ hidden"></button>
    </div>

    <div class="card mb-5 table-container">
      <table class="table table-striped is-bordered js-sort-table">
        <thead class="has-background-info table-head">
          <th scope="col" class="has-text-info-light"><input type="checkbox" name="selectContact" id="main-selector"></th>
          <th scope="col" class="table-header has-text-info-light">Contacto <i class="fas fa-sort sort-icon"></i></th>
          <th scope="col" class="table-header has-text-info-light">País/Región <i class="fas fa-sort sort-icon"></i></th>
          <th scope="col" class="table-header has-text-info-light">Compañía <i class="fas fa-sort sort-icon"></i></th>
          <th scope="col" class="table-header has-text-info-light">Cargo <i class="fas fa-sort sort-icon"></i></th>
          <th scope="col" class="table-header has-text-info-light">Canal preferido <i class="fas fa-sort sort-icon"></i></th>
          <th scope="col" class="js-sort-none has-text-info-light">Interés</th>
          <th scope="col" class="js-sort-none has-text-info-light actions">Acciones</th>
        </thead>
        <tbody>
          <% for (let contact of contacts) { %>
            <tr scope="row" class="table-row has-text-link">
                <td><input type="checkbox" name="deleteContact[]" value="<%= contact._id %>" class="contact-checkbox"></td>
                <td> <%= contact.first_name.charAt(0).toUpperCase()+contact.first_name.slice(1) + " " + contact.last_name.charAt(0).toUpperCase()+contact.last_name.slice(1) %></td>
                <td> <%= contact.cityInfo.countryInfo.name.charAt(0).toUpperCase()+contact.cityInfo.countryInfo.name.slice(1) %></td>
                <td> <%= contact.companyInfo.name.charAt(0).toUpperCase()+contact.companyInfo.name.slice(1) %></td>
                <td> <%= contact.role.charAt(0).toUpperCase()+contact.role.slice(1) %></td>
                <td> 
                  <% for (let method of contact.contact_methods) { %>
                    <% if (method.preference === "favourite") { %>
                    <span class="tag button is-inactive is-info tag-channel"> <%= method.channel.charAt(0).toUpperCase()+method.channel.slice(1) %></span>
                    <span class="hidden"><%= method.account %></span>
                    <% } %>
                  <% } %>
                </td>
                <td>
                <% if (contact.interest === 0) { %>
                  <span><%= contact.interest %>%</span>
                  <progress class="progress is-warning" value="<%= contact.interest %>" min="0" max="100"></progress>
                <% } else if ((contact.interest === 25)) { %>
                  <span><%= contact.interest %>%</span>
                  <progress class="progress is-warning" value="<%= contact.interest %>" min="0" max="100"></progress>
                <% } else if (contact.interest === 50 ) { %>
                  <span><%= contact.interest %>%</span>
                  <progress class="progress is-info" value="<%= contact.interest %>" min="0" max="100"></progress>
                <% } else if (contact.interest === 75) { %>
                  <span><%= contact.interest %>%</span>
                  <progress class="progress is-success" value="<%= contact.interest %>" min="0" max="100"></progress>
                <% } else if (contact.interest === 100) { %>
                  <span><%= contact.interest %>%</span>
                  <progress class="progress is-success" value="<%= contact.interest %>" min="0" max="100"></progress>
                <% } %>
                </td>
                <td class="is-flex is-justify-content-space-evenly">
                  <a href="/contacts/<%= contact._id %>/edit" class="p-0"><button class="button is-info is-outlined">Editar</button></a>
                  <form action="/contacts/<%= contact._id %>?_method=DELETE" method="POST">
                    <button type="button" class="button is-danger is-outlined delete-contact">Borrar</button>
                  </form>
                  <a href="/contacts/<%= contact._id %>"><button class="button is-success is-outlined">Ver todo</button></a>
                </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/contacts/deleteMany?_method=DELETE" method="POST" class="hidden deleteForm">
      </form>
    </div>
  </section>
</div>

<script type="module" src="/scripts/searchContacts.mjs"></script>
<script type="module" src="/scripts/allContacts.mjs"></script>
<script type="module" src="/scripts/sort-table.mjs"></script>
<script type="module" src="/scripts/tables.mjs"></script>
<script type="module" src="/scripts/sharedFeatures.mjs"></script>
